<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MxMultimedia_HelpDesk.Properties.Settings.HelpDeskConnectionString"
            connectionString="server=80.172.235.100;User Id=mxmultim_hduser;password=@12345;database=mxmultim_HelpDesk;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
